
body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: center;    
}

.err
{
    color: red;
}

.content_div {
    display: none;
}
.content_div:first-child {
    display: block;
}

#cc,#nb{
    display:none;
}

#dc,#nb {
    display:none;
}

#dc, #cc {
    display:none;
}


#success, #fail {
    display:none;
}

#all,#fail
{
    display:none;
}

#all,#success{
    display:none;
}

#faq,#t_c{
    display:none;
}

#he,#t_c
{
    display:none;
}

#he,#faq{
    display:none;
}
